<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A600DEF1D13ABB10046BE23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A600E081D13ABB20046BE23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A600E131D13ABB20046BE23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
